<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="foot">
<div class="foota" >
   <div class="m">
       <div class="left">
       			<a href="/"><img src="/img/20180717163908_DJHWOmXd.jpg"></a>
       			<p>中共井冈山市委党校·井冈山市行政学校</p>
       </div>
       <div class="center">
              <li>
                   <a href="/">首页</a>
                   <a href="http://www.jgscta.com/About/10.html" target="_self">基本情况</a>
                   <a href="/List/14.html" target="_self">新闻资讯</a>
                   <a href="/About/16.html" target="_self">培训体系</a>
                   <a href="/teacher/21.html" target="_self">师资队伍</a>
              </li>
              <li>                   
                   <a href="/partner/22.html" target="_self">合作单位</a>
                   <a href="/jingcai/26.html" target="_self">井冈风采</a>
                   <a href="/xinsheng/29.html" target="_self">信息反馈</a>
                   <a href="/jingdian/31.html" target="_self">魅力井冈</a>
              </li>
       </div>
       <div class="right">
           <ul>
              <li>联系人</li><li>&nbsp;</li><li>段老师（东北地区）</li>
              <li>电话：18807961052</li>
              <li> 冯老师（华中华南地区）</li>
              <li>电话：18807967709</li>
              <li>赖老师（西南西北地区）</li>
              <li>电话：18807967738</li>
              <li>谢老师（华东地区）</li>
              <li>电话：18807968808</li>
           </ul>
       </div>
       <div class="c_b"></div>
   </div>   
</div>
<div class="footb" >
        <a href="http://www.ccps.gov.cn/" target="_blank"><img src="/img/20180810105156_24pEUQGB.png"></a>
        <a href="http://www.jxdx.gov.cn/" target="_blank"><img src="/img/20180810105233_crtfNGOa.png"></a>
        <a href="http://www.jgs.gov.cn/" target="_blank"><img src="/img/20180810105254_KF82FpFU.png"></a>
        <a href="http://www.jgsswdx.gov.cn/" target="_blank"><img src="/img/20180810105244_n5ye8Afq.png"></a>
</div>
<div class="footc" th:fragment="foot">
    联系电话： 0796-6551988
    <span style="padding:0 4px;"></span>
    0796-6560916
    <span style="padding:0 4px;"></span>邮 编：343600
    <span style="padding:0 4px;"></span>地 址：江西省井冈山市茨坪景区红军北路22号
    <br>版权所有 井冈山干部教育学院 中共井冈山市委党校
    	<span style="padding:0 4px;"></span>技术支持：南昌汉邦互动网络传媒
   	<br>
	<span style="padding:0 4px;"></span>
	<a href="http://www.beian.miit.gov.cn" target="_blank" style="color:#fff;">赣ICP备19014170号-1</a>
</div>
</div>       
</body>
</html>