<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>登录</title>
</head>
<body>
	<div class="all" th:fragment="header1">
		<div class="hdtop"></div>
		<div class="head">
			<div class="m">
				<div class="logo">
					<a href="/"><img
						src="../img/flag.jpg"></a>
				</div>
				<div class="hotline">
					<img src="../img/call.png"><span>联系电话：</span><b><span
						style="font-size: 18px;">0796-6551988</span><br> <span
						style="font-size: 18px;"> 0796-6560916</span></b>
				</div>
				<div class="c_b"></div>
			</div>
		</div>
	</div>

</body>

</html>